// VAL
$gray1: #36393f;
$gray2: #2f3136;
$gray3: #292b2f;
$gray4: #202225;
$gray5: #202225;
$gray6: #18191c;

$color1: #ffffff;
$color2: #dcdddf;
$colorGreen: #00cc5c;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa';
    background-color: #36393f;
}

h1 {
    text-align: center;
    font-size: 3em;
    color: $color1;
}

a {
    display: block;
    margin: 10px auto;
    outline: none;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    color: $color2;
    transition-duration: 0.2s;

    &:hover,
    &:focus {
        color: $color1;
        transition-duration: 0.2s;
    }
}

input {
    display: block;
    height: 45px;
    width: 380px;

    outline: none;
    margin: 20px 0;

    font-size: 22px;
    text-align: center;
    color: $color1;
    opacity: 1;

    background-color: $gray5;

    border: none;
    border-radius: 12px;

    transition-duration: 0.2s;

    &::placeholder {
        color: $color1;
        opacity: 0.8;
    }

    &:focus {
        background-color: $gray6;
        transition-duration: 0.2s;
    }
}

button {
    display: block;
    height: 45px;
    width: 380px;

    outline: none;
    margin: 20px 0;

    font-size: 22px;
    text-align: center;
    color: $colorGreen;
    opacity: 1;

    background-color: $gray5;

    border: none;
    border-radius: 12px;

    cursor: pointer;

    transition-duration: 0.2s;

    &::placeholder {
        color: $color1;
        opacity: 0.8;
    }

    &:hover,
    &:focus {
        background-color: $gray6;
        transition-duration: 0.2s;
    }
}

form {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

// messages

.success-msg {
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    color: $colorGreen;
    font-size: 20px;
}

.error-msg {
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    color: red;
    font-size: 20px;
}

// END messages END

// navbar

.navbar {
    position: relative;
    padding-bottom: 20px;

    .logo {
        margin-bottom: 0;
    }

    .navbar-toggle {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        color: #fff;
        font-size: 24px;
    }

    .logo {
        display: inline-block;
        font-size: 22px;
        font-family: #fff;
        letter-spacing: 4px;
        margin-top: 20px;
        margin-left: 20px;
        text-decoration: none;
        color: #fff;
    }

    .main-nav {
        list-style-type: none;
        display: none;

        li {
            text-align: center;
            margin-top: 15px;
        }
    }

    .nav-links {
        font-size: 24px;
        letter-spacing: 2px;
        text-decoration: none;
    }

    .active {
        display: block;
    }

    @media only screen and (min-width: 800px) {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;

        .navbar-toggle {
            display: none;
        }

        .logo {
            margin-top: 0;
            transition-duration: 0.5s;

            &:hover {
                letter-spacing: 8px;
                transition-duration: 0.5s;
            }
        }

        .main-nav {
            display: flex;
            margin-right: 30px;
            flex-direction: row;
            justify-content: flex-end;

            li {
                margin: 0;
            }
        }

        .nav-links {
            font-size: 22px;
            margin-left: 40px;
        }
    }
}

hr {
    width: 100%;
    height: 3.5px;
    border: none;
    background-color: red;
    margin-bottom: 20px;
}

// END navbar END

// show qrcodes

.qrcodes {
    .qrcode-wrapper {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        padding-bottom: 000.1px;
        background-color: $gray3;
        border-radius: 20px;
        ////border: 3px solid red;

        .code {
            display: flex;
            background-color: $gray2;
            border-radius: 20px;
            ////border: 3px solid green;

            .url {
                display: flex;
                width: fit-content;
                height: fit-content;
                margin-top: auto;
                margin-bottom: auto;
                margin-left: 20px;
                background-color: transparent;

                p {
                    margin-right: 10px;
                    font-size: 1.7em;
                    cursor: pointer;
                }

                h2 {
                    font-size: 1.7em;
                }

                p,
                h2 {
                    height: fit-content;
                    background-color: transparent;
                    color: $color2;
                }
            }

            .qrcode {
                height: fit-content;
                margin-top: 0;
                margin-bottom: 0;
                margin-left: auto;

                img {
                    height: 140px;
                    width: auto;
                    border-radius: 20px;
                }
            }
        }

        .infos {
            margin-left: 40px;
            margin-top: 10px;
            background-color: transparent;

            h2 {
                font-size: 1.2em;
                background-color: transparent;
                color: $color2;
            }

            #last-elemet {
                margin-bottom: 10px;
            }
        }
    }
}

// END show qrcodes END
