<h1>Edit QR Codes</h1>

<%- include ('../includes/messages') %>

<a href="/qrcode">→ Go back to your QR Codes</a>

<form action="/qrcode/editSubmit" method="POST">
    <input type="url" name="url" placeholder="URL" value="<%= typeof url != 'undefined' ? url : '' %>" />
    <input type="text" name="slug" placeholder="Slug" value="<%= typeof slug != 'undefined' ? slug : '' %>" />
    <button type="submit" name="oldSlug" value="<%= typeof slug != 'undefined' ? slug : '' %>" >Change</button>
</form>
