<h1>QR Code not found</h1>

<%- include ('../includes/messages') %>

<div class="scan-off">
    <h2>Hey 👋, Thanks for scanning</h2>
    <h3>The QR code has been deactivated by the owner</h3>
    <h3>Your QR code scanner works without restrictions</h3>
</div>
